body {
    color: #212529;
}

.image-uploader {
    height: 270px;
}

.mission-title-input {
    font-size: 20px;
    text-align: center;
}

._toolbar_ {
    display: flex;
    align-items: center;

    > * {
        margin-right: 20px;
    }
}

.invalid-message {
    font-size: 13px;
    color: red;
    margin-bottom: 11px;
}

.mission-status {
    font-size: 0.85rem;
    margin-left: 22px;
    text-decoration: underline;
}