.blog-entry {
    border: 1px solid #afa939;
    border-radius: 5px;

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
