._toolbar_ {
    min-height: 50px;
    border-bottom: 1px solid #cecece;
    margin-top: 6px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    > .left {
        grid-column: 1;
    }
    > .right {
        grid-column: 2;
    }
}
